.content {
    min-height: calc(100vh - 500px);
    max-width: 760px;
    margin: 100px auto 0;
    text-align: center;
    padding: 0 10px;

    & form {
        padding: 40px 0 100px;

        & .form-row {
            margin-bottom: 40px;

            & .label {
                margin-bottom: 7px;
                font-size: 14px;
            }

            & input {
                margin: 0 auto;
            }
        }
    }
}

.footer {
    --imgtop: 200px;
    min-height: 250px;
    background: var(--primary);
    text-align: center;
    margin-top: var(--imgtop);

    & img {
        margin: calc(-1 * var(--imgtop)) auto 0;
    }
}

@media screen and (max-width: 840px) {
    .footer {
        --imgtop: 100px;
        margin-top: var(--imgtop);
    
        & img {
            margin: calc(-1 * var(--imgtop)) auto 0;
            width: 424px;
            height: 223px;
        }
    }
}

@media screen and (max-width: 460px) {
    .footer {
        --imgtop: 60px;
        margin-top: var(--imgtop);
    
        & img {
            margin: calc(-1 * var(--imgtop)) auto 0;
            width: 354px;
            height: 153px;
        }
    }
}
