<div class="modal-container">
  <div class="overlay"></div>
  <div class="modal">
    <div class="header btn-gap">
      <a type="button" class="btn">CREATE NEW ALBUM</a>
      <a type="button" class="btn grey">ADD TO EXISTING</a>
    </div>
    <div class="body">
      <input type="text" name="name" id="name" class="input-text" autofocus
        placeholder="Enter title here" [formControl]="nameCtrl">
    </div>
    <div class="footer btn-gap">
      <button type="button" class="outline-dark" (click)="compClose.emit('')">Close</button>
      <button type="button" (click)="compClose.emit(nameCtrl.value)">Save</button>
    </div>
  </div>
</div>
